@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Poetsen+One&family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Quicksand:wght@300..700&display=swap");

.passiroo-font {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

body {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: #121112;
	color: #fff;
	font-size: 1.2rem;
}

.grid {
	display: grid;
	grid-template-columns: 175px 500px;
	grid-template-rows: 160px 160px 160px 160px;
	width: 100%;
	height: 100vh;
}

.passiroo {
	grid-area: 1 / 1 / 2 / 2;
	height: 60px;
	background-image: linear-gradient(90deg, #00e8fc 0%, #f9c846 31%, #f96e46 86%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0;
	align-self: end;
	width: 80%;
	margin-left: 0;
	z-index: 40;
}

.passiroo h1 {
	font-size: 1.8rem;
}

.plus {
	grid-area: 2 / 1 / 3 / 2;
	background: rgb(0, 205, 223);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 40px 40px 0;
	box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, 0.3);
	z-index: 40;
}

.plus:hover {
  cursor: pointer;
}

.search {
	grid-area: 3 / 1 / 4 / 2;
	background: rgb(234, 182, 46);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 40px 40px 0;
	box-shadow: 6px 0 15px 3px rgba(0, 0, 0, 0.3);
	z-index: 30;
}

.search:hover {
  cursor: pointer;
}

.about {
	grid-area: 4 / 1 / 5 / 2;
	background: rgb(223, 97, 61);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 40px 40px 0;
	box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, 0.3);
	z-index: 20;
}

.about:hover {
  cursor: pointer;
}

.top {
	grid-area: 2 / 2 / 4 / 3;
	background: rgb(223, 97, 61);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	z-index: -10;
	transform: translateX(-8%);
	padding-left: 8%;
  z-index: 15;
}

.bottom {
	grid-area: 4 / 2 / 5 / 3;
	background: rgb(223, 97, 61);
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: -10;
	transform: translateX(-8%);
	padding-left: 8%;
  z-index: 15;
}

.top h3 {
	padding-top: 10px;
	font-size: 2rem;
	font-weight: 700;
}

.top .about-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about-container p {
	width: 50%;
	padding: 6px;
	border-radius: 20px;
	background: rgb(52, 51, 48, 75%)
}

.svg-large {
	fill: none;
	stroke: currentColor;
	stroke-width: 1;
	filter: url(#dropShadowLarge);
}

.svg-small {
	scale: 0.75;
	fill: none;
	filter: url(#dropShadowLarge);
}

.svg-smaller {
	scale: 1;
	width: 30%;
	
	fill: none;
	filter: url(#dropShadowLarge);
}
