@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poetsen+One&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Quicksand:wght@300..700&display=swap');

.passiroo-font {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: transparent !important; 
  color: #fff;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 175px 500px;
  grid-template-rows: 160px 160px 160px 160px;
  width: 100%;
  height: 100vh;
}

.passiroo {
  grid-area: 1 / 1 / 2 / 2;
  height: 60px;
  background-image: linear-gradient(90deg, #00E8FC 0%, #F9C846 31%, #F96E46 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  align-self: end;
  width: 80%;
  margin-left: 0; 
  z-index: 40;
}

.passiroo h1 {
  font-size: 1.8rem;
}

.plus {
  grid-area: 2 / 1 / 3 / 2;
  background: rgb(0, 205, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 40px 40px 0;
  box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, .30);
  z-index: 40;
}

.plus:hover {
  cursor: pointer;
}

.search {
  grid-area: 3 / 1 / 4 / 2;
  background: rgb(234, 182, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 40px 40px 0;
  box-shadow: 6px 0 15px 3px rgba(0, 0, 0, .30);
  z-index: 30;
}

.search:hover {
  cursor: pointer;
}

.about {
  grid-area: 4 / 1 / 5 / 2;
  background: rgb(223, 97, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 40px 40px 0;
  box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, .30);
  z-index: 20;
}

.about:hover {
  cursor: pointer;
}

.top {
  grid-area: 2 / 2 / 4 / 3;
  background: rgb(0, 205, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: -10;
  transform: translateX(-8%);
  padding-left: 8%;
  z-index: 15;
}

.bottom {
  grid-area: 4 / 2 / 5 / 3;
  background: rgb(0, 205, 223);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: -10;
  transform: translateX(-8%);
  padding-left: 8%;
  z-index: 15;
}

.top h3 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.top form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.svg-large {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  filter: url(#dropShadowLarge);
}

.svg-small {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  filter: url(#dropShadowSmall);
}

.random-settings {
  background: rgb(52, 51, 48, 75%);
  display: flex;
  padding: 10px;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.spec-char-form {
  padding: 5px;
  background: rgb(52, 51, 48, 75%);
  width: 80%;
  height: 100%;
}

.spec-char-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.spec-char-list li {
  background: rgba(217, 217, 217, 25%);
  border-radius: 10px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-btn {
  scale: 1;
  padding: 10px;
  margin-bottom: 5px;
  border: solid #fff 4px;
  border-radius: 250px;
  background: rgb(52, 51, 48, 25%)
}


.sparkles {
  scale: 1.2;
  padding: 5px;
  color: rgb(234, 182, 46);
  background: rgb(52, 51, 48, 25%);
  border: solid #fff 2px;
  border-radius: 50px;
}

.input-group {
  padding: 0px !important;;
  margin: 0px !important;;
  width: 80% !important;
  gap: 0px !important;
}

.top input {
  color: #fff;
  width: 80%;
  height: 2em;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(52, 51, 48, 75%);
}

.spec-char-list .selected {
  background: rgb(234, 182, 46, 0.75)
}