@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Poetsen+One&family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Quicksand:wght@300..700&display=swap");

.passiroo-font {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  color: #fff
}

body {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: transparent !important;
	font-size: 1.2rem;
}

.grid {
	display: grid;
	grid-template-columns: 175px 500px;
	grid-template-rows: 160px 160px 160px 160px;
	width: 100%;
	height: 100vh;
}

.passiroo {
	grid-area: 1 / 1 / 2 / 2;
	height: 60px;
	background-image: linear-gradient(90deg, #00e8fc 0%, #f9c846 31%, #f96e46 86%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0;
	align-self: end;
	width: 80%;
	margin-left: 0;
	z-index: 40;
}

.passiroo h1 {
	font-size: 1.8rem;
}

.plus {
	grid-area: 2 / 1 / 3 / 2;
	background: rgb(0, 205, 223);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 40px 40px 0;
	box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, 0.3);
	z-index: 30;
}

.plus:hover {
  cursor: pointer;
}

.search {
	grid-area: 3 / 1 / 4 / 2;
	background: rgb(234, 182, 46);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 40px 40px 0;
	box-shadow: 6px 0 15px 3px rgba(0, 0, 0, 0.3);
	z-index: 30;
}

.search:hover {
  cursor: pointer;
}

.about {
	grid-area: 4 / 1 / 5 / 2;
	background: rgb(223, 97, 61);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 40px 40px 0;
	box-shadow: 6px 0px 15px 3px rgba(0, 0, 0, 0.3);
	z-index: 30;
}

.about:hover {
  cursor: pointer;
}

.svg-large {
	fill: none;
	stroke: currentColor;
	stroke-width: 1;
	filter: url(#dropShadowLarge);
}

.top {
	grid-area: 2 / 2 / 3 / 3;
	background: rgb(234, 182, 46);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	z-index: -10;
	transform: translateX(-8%);
	padding-left: 8%;
  z-index: 20;
}

.top h3 {
  padding: 6px 0 0 0;
  margin: 0;
	font-size: 1rem;
	font-weight: 700;
}

.top .site-search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
  z-index: 100;
}

.top input {
	font-size: 1.1em;
	color: #fff;
	width: 85%;
	height: 2em;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
	background: rgb(52, 51, 48, 75%);
  z-index: 30;
}

.site-ul-container {
  width: 100%;
  max-height: 6em; /* Adjust as needed for your design */
  overflow-y: auto;
}

.site-ul-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.top ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

.top li {
	padding-left: 5px;
	list-style-type: none;
	color: #fff;
	width: 78%;
	border: solid rgb(52, 51, 48, 50%) 1px;
	background: rgb(52, 51, 48, 75%);
}

.site-li {
  padding: 2px 8px !important;
  z-index: 100 !important;
}

.site-li:hover {
  background: rgb(52, 51, 48, 40%) !important;
}

.site-li:last-child {
  border-radius: 0 0 20px 20px;
}

.selected {
  background: rgb(52, 51, 48, 40%) !important;
}

.middle {
	grid-area: 3 / 2 / 4 / 3;
	background: rgb(234, 182, 46);
	z-index: -10;
	transform: translateX(-8%);
	padding-left: 8%;
  z-index: 20;
}

.middle-content {
  width: 100%;
  height: 100%;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 5px;
}

.middle select {
	font-size: 1em;
	color: #fff !important;
	width: 80%;
	height: 2em;
	padding: 0 10px;
	border-radius: 20px;
	background: rgb(52, 51, 48, 75%);
  z-index: 30;
}

.middle select option {
  color: #fff;
  border-radius: 20px;
  width: 50%;
}

.middle label {
  display: flex;
  justify-content: start;
  align-items: center;
	font-size: 1em;
	color: #fff;
	width: 80%;
	height: 2em;
	padding: 0 10px;
	border-radius: 20px;
	background: rgb(52, 51, 48, 75%);
  z-index: 30;
}

.copy-icon {
  cursor: pointer !important;
}

.red-border {
  border: solid #f63142 4px;
}

.account-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.password-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.edit-inputs-container input {
  color: #fff;
	width: 85%;
	height: 1.5em;
	padding: 0 10px;
	border: none;
	border-radius: 20px;
	background: rgb(52, 51, 48, 75%);
  z-index: 30;
}

.bottom {
	grid-area: 4 / 2 / 5 / 3;
	background: rgb(234, 182, 46);
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: -10;
	transform: translateX(-8%);
	padding-left: 8%;
  z-index: 20;
}

.pencil-svg {
	scale: 0.5;
	padding: 5px;
	color: rgb(38, 168, 108);
	border: solid rgb(38, 168, 108) 15px;
	border-radius: 150px;
}

.trash-svg {
	scale: 0.5;
	padding: 5px;
	color: #ff4e5c;
	border: solid #ff4e5c 15px;
	border-radius: 150px;
}

.hidden {
  display: none !important;
}