<!DOCTYPE html>
<html>
<head>
  <title>Passiroo</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div class="grid">
    <li class="passiroo">
      <h1 class="passiroo-font">
        passiroo
      </h1>
    </li>
    <li class="plus">
      <input 
            id="emailInput"
            type="text"
            placeholder="e-mail" />
      <input 
            id="passwordInput"
            type="text"
            placeholder="password" />
      <button type="button">login</button>      
    </li>
    <li class="search">
      <h3>or</h3>
    </li>
    <li class="about">
      <input 
            type="text"
            placeholder="confirm password" />
      <button type="button">register</button>
    </li>
</div>
  <script src="../js/register-user.js"></script>
</body>
</html>