<!DOCTYPE html>
<html>
<head>
  <title>Passiroo</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <main>
    <div class="underlay blue">
      <div class="win-button-container">
        <button id="close-button">X</button>
        <button id="minimize-button">—</button>
      </div>
    </div>
    <div class="welcome">
      <h1>Passiroo</h1></div>
    <div class="plus">
      <input type="text" id="usernameInput" placeholder="Username">
      <input type="password" id="passwordInput" placeholder="Password">
    </div>
    
    <div class="search">
      <button id="registerButton">Register</button>
    </div>
    <div class="about">
      <button id="registerButton">Go to Login</button>
    </div>
  </main>
  <script src="../js/register-user.js"></script>
  <script src="../js/main.js">
    window.addEventListener('DOMContentLoaded', () => {
      const width = document.documentElement.scrollWidth;
      const height = document.documentElement.scrollHeight;
    
      if (window.electronAPI) {
        window.electronAPI.resizeWindow(width, height);
      }
    });
  </script>
</body>
</html>
